.container{
  
    display:flex;
    margin: auto;
    width: 60%;
    height: 30px;
    align-items: center;
   
    
    
}
.navbar{
    background-color: rgb(22, 1, 120);
    display: flex;
    height: 35px;
    position: sticky;
    top: 0;
 
}
.navbar img{
        justify-content: start;
        width: 30px;
}
.navbar list{
    flex-grow: 1;
}
ul{
    width: 800px;  
  
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    list-style: none;
    
}

a{
    color: aliceblue;
text-decoration: none;
}
.header{
    height :649px;
    background-color: rgb(215, 215, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header p{
    margin-top: 0px;
}
.header h2{
    margin-bottom: 1px;
}
